{% extends 'base.html' %}

{% block content %}

<div class="container">

    <section style="background-color: #eee;">
        <div class="container py-5">
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="{{ request.user.profile_picture.url }}" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">{{request.user.name}}</h5>
                </div>
              </div>
            </div>

            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                        <form method="post" enctype="multipart/form-data">

                            {% csrf_token %}
                        
                            {{ form.as_p }}
                            <input type="submit" value="Update">
                            
                          </form>
                    </div>

                  </div>
                  <hr>
                  
              
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0">
                      <div class="card-body">
                        <a href="/change-password/">Forgot Password ?</a>
                    </div>
                </div>
            </div>    
        </div>
      </section>        

</div>
  

{% endblock content %}

