{% extends 'base.html' %}

{%block content%}
      
{% include "index_topbar.html" %}
    
          <!-- Navbar Start -->
<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <h6 class="m-0">Categories</h6>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        {% for category in categories %}
                        <a href="category/{{category.id}}" class="nav-item nav-link">{{category.name}}</a>
                        {%endfor%}
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>    
        <!-- Navbar End -->
      

      <!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
            </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
            </div>
    </div>
</div>
      <!-- Featured End -->
      
{% include "product_listing.html" %}
                
    <!-- Pagination Start -->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            {%if products.has_previous %} 
                <li class="page-item"><a class="page-link" href="?page={{1}}">&laquo; First</a></li>
                    <a class="page-link" href="?page={{products.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">< Previous</span>
                    </a>
            {% endif %}
                </li>
                    <li class="page-item"><a class="page-link" href="{{products.number}}">{{products.number}}</a></li>
                    <li class="page-item">
            {%if products.has_next %} 
                    <a class="page-link" href="?page={{products.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">> Next</span>
                    </a>
                <li class="page-item"><a class="page-link" href="?page={{products.paginator.num_pages}}">&raquo; Last</a></li>
            {% endif %}
        </li>
    </ul>
</nav>
      <!-- Pagination ends -->
      
      
{% endblock %}
      
      